<svg 
    {{action "showSidebar"}} 
    id="sidebar-pulltab" 
    class="{{if sidebarIsOpen "open-sidebar-pulltab" "closed-sidebar-pulltab"}}"
    height="40" width="30"
>
  <polygon id="sidebar-pulltab-triangle" points="0,0 30,20 0,40" />
  Sorry, your browser does not support inline SVG.
</svg>

{{#if this.sidebarIsOpen}}
    <div {{action "showSidebar"}} class="sidebar-unfocused"></div>
{{/if}}

<Sidebar class="{{if sidebarIsOpen "open-sidebar" "closed-sidebar"}}"/>

{{yield}}